.draggingScenario {
    cursor: move;
    border: 2px solid;
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
    color: white;
    background-color: #0e8ee9;
}

.dropZoneScenario {
    padding: 10px;
    width: 141vh;
    display: flex;
    font-weight: bold;
    justify-content: center;
    color: black;
    background-color: #a5ddf0;
}